<template>
    <div style={style}>
        <lightning-spinner size="medium" alternative-text="Loading..." if:true={loading}></lightning-spinner>

        <template if:false={loading}>
            <template if:true={showPayment}>
                <lightning-spinner size="medium" alternative-text="Loading..." if:false={paymentLoaded}></lightning-spinner>
                <iframe data-id="iframe" width={width} height={height} src={paymentSrc} onload={paymentReady}></iframe>
            </template>
            
            <template if:true={showAuth}>
                <lightning-spinner size="medium" alternative-text="Loading..." if:false={authLoaded}></lightning-spinner>
                <iframe data-id="iframe" width={width} height={height} src={authorisationSrc} onload={authReady}></iframe>
            </template>
        </template>
    </div>
</template>
