iframe {
    border: none;
    overflow: hidden;
    display: block;
    margin: 0px auto;
    max-width: 90vw;
}
lightning-formatted-text {
    font-size: x-large;
    position: absolute;
    top: 45vh;
    left: 0;
    right: 0;
}
